{% extends "base.html" %}
{% block content %}

<div class="shadow-wrap">
  <div class="form-wrap">
    <h3>Sign up</h3>
    <form action="{% url 'base:student_signup' %}" method="POST">
      {% csrf_token %}
      {{ form.as_p }}

      {% if form.errors %}
      <div style="color:red; margin:10px 0;"> {{ form.errors }} </div>
      {% endif %}

      <button type="submit">Sign Up</button>
    </form>
    <center>
      <p style="margin: 20px;">Already have an account?</p>
    </center>
    <a class="signup-link" href="{% url 'base:login' %}">Login</a>
  </div>
</div>

{% endblock content %}